button {
    position: absolute;
    left: 5rem;
    top: 5rem;
    height: 5.5rem;
    width: 5.5rem;
    border: 0.35rem solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

img {
    width: 3rem;
    margin-top: 0.3rem;
}

.touched {
    transform: rotate(45deg);
    transition: 1s;
}

.not_touched {
    transform: rotate(0deg);
    transition: 1s;
}